Logs/*
obj/*
Packages/*
ProjectSettings/*
Temp/*
UserSettings/*
Library
Library/*
Library/**


Assets/Imported
Assets/Materials
Assets/Prefabs
Assets/Scenes

*/*.meta
*.meta

Images
Assets/*.meta

.vs
*.csproj
*.sln


*.vsconfig
